@font-face {
    font-family: primary-font;
    src: url(../fonts/the-font-file.woff);
  }

:root {
    --primary-clr: #202124;
    --background-clr: #F1F1F1;
    --confirm-clr: #36AF57;
    --error-clr: #F63F3A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
}

footer {
    position:absolute;
    bottom: 0%;
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 10px;
    margin-bottom: 10px;
}

.sign-up-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

label {
    visibility: hidden;
    position: absolute;
}

.right-panel {
    width: 60vw;
    background-color: var(--primary-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-panel {
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

.header {
    position: absolute;
    font-size: 1.5rem;
    padding: 20px;
}

.image-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

p {
    font-size: 1rem;
}

.right-header {
    color: white;
    letter-spacing: 0.4rem;
    margin-bottom: 60px;
}

.form-container {
    width: 70%;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    appearance: none;
    outline: none;
    border-radius: 30px;
    width: 80%;
    height: 40px;
    border: none;
    padding: 20px;
}

.create-account-btn {
    border-radius: 30px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--confirm-clr);
    color: white;
}

.btn-text {
    color: white;
    font-size: 0.8rem;
    margin-top: 10px;
}

.login {
    font-weight: 600;
    cursor: pointer;
}

.developer {
    color: white;
    font-size: 1rem;
}

.fa-brands {
    color: white;
}

.invalid {
    border: 2px solid var(--error-clr) !important;
}

.error {
    color: var(--error-clr);
    height: 0.8rem;
    font-size: 0.8rem;
    margin-left: 10px;
}